@model IEnumerable< Microsoft.Azure.ActiveDirectory.GraphClient.User>
@{
    ViewBag.Title = "Home";
}

<h2>Hello</h2>

<ul>
    @foreach (var user in Model)
    {
        <li>@user.DisplayName</li>
    }
</ul>